.budget {
  color: black;

  // .budget__title

  &__title {
    margin-bottom: 20px;
    padding: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 48px;
    box-shadow: 0 5px 15px rgb(22 28 45 / 10%);

    @media (max-width: $breakpoint992) {
      font-size: 40px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 26px;
      margin-bottom: 10px;
    }

    @media (max-width: $breakpoint480) {
      font-size: 18px;
    }
  }

  // .budget__inner

  &__inner {
    display: flex;
    flex-direction: column;
  }

  // .budget__undergraduate

  &__undergraduate {}

  // .budget__magistracy

  &__magistracy {}
}

.undergraduate {

  // .undergraduate__header

  &__header {
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 5px 15px rgb(22 28 45 / 10%);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    &:hover {
      -webkit-transform: translateZ(50px) translateY(-12px);
      transform: translateZ(50px) translateY(-12px);
      -webkit-box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
      box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    }
  }

  // .undergraduate__header-title

  &__header-title {
    position: relative;
    display: inline-flex;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 700;

    &::before {
      content: '';
      position: absolute;
       bottom: -5px;
      left: 0;
      height: 3px;
      width: 100%;
      background-color: #1976d2;
    }

    @media (max-width: $breakpoint768) {
      font-size: 22px;
    }

    @media (max-width: $breakpoint480) {
      margin-bottom: 10px;
      font-size: 18px;
    }
  }

  // .undergraduate__header-info

  &__header-info {}

  // .undergraduate__list

  &__list {}

  // .undergraduate__item

  &__item {
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 5px 15px rgb(22 28 45 / 10%);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    &:hover {
      -webkit-transform: translateZ(50px) translateY(-12px);
      transform: translateZ(50px) translateY(-12px);
      -webkit-box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
      box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    }
  }

  // .undergraduate__title

  &__title {
    position: relative;
    display: inline-flex;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 700;

    &::before {
      content: '';
      position: absolute;
       bottom: -5px;
      left: 0;
      height: 3px;
      width: 100%;
      background-color: #1976d2;
    }

    @media (max-width: $breakpoint768) {
      font-size: 22px;
    }

    @media (max-width: $breakpoint480) {
      margin-bottom: 10px;
      font-size: 18px;
    }
  }

  // .undergraduate__text

  &__text {
    margin-bottom: 10px;
  }

  // .undergraduate__sum

  &__sum {
    font-weight: 700;
  }
}

.magistracy {

  // .magistracy__header

  &__header {
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 5px 15px rgb(22 28 45 / 10%);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    &:hover {
      -webkit-transform: translateZ(50px) translateY(-12px);
      transform: translateZ(50px) translateY(-12px);
      -webkit-box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
      box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    }
  }

  // .magistracy__header-title

  &__header-title {
    position: relative;
    display: inline-flex;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 700;

    &::before {
      content: '';
      position: absolute;
       bottom: -5px;
      left: 0;
      height: 3px;
      width: 100%;
      background-color: #1976d2;
    }

    @media (max-width: $breakpoint768) {
      font-size: 22px;
    }

    @media (max-width: $breakpoint480) {
      margin-bottom: 10px;
      font-size: 18px;
    }
  }

  // .magistracy__header-info

  &__header-info {}

  // .magistracy__list

  &__list {}

  // .magistracy__item

  &__item {
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 5px 15px rgb(22 28 45 / 10%);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    &:hover {
      -webkit-transform: translateZ(50px) translateY(-12px);
      transform: translateZ(50px) translateY(-12px);
      -webkit-box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
      box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    }
  }  

  // .magistracy__title

  &__title {
    position: relative;
    display: inline-flex;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 700;

    &::before {
      content: '';
      position: absolute;
       bottom: -5px;
      left: 0;
      height: 3px;
      width: 100%;
      background-color: #1976d2;
    }

    @media (max-width: $breakpoint768) {
      font-size: 22px;
    }

    @media (max-width: $breakpoint480) {
      margin-bottom: 10px;
      font-size: 18px;
    }
  }

  // .magistracy__text

  &__text {
    margin-bottom: 10px;
  }

  // .magistracy__sum

  &__sum {
    font-weight: 700;
  }
}


@-webkit-keyframes shadow-drop-2-bottom {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px) translateY(-12px);
            transform: translateZ(50px) translateY(-12px);
    -webkit-box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
            box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}

@keyframes shadow-drop-2-bottom {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px) translateY(-12px);
            transform: translateZ(50px) translateY(-12px);
    -webkit-box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
            box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}

.budget-show {
  transform: translateX(-120%);
  // opacity: 0;
}

.accordion {
  .accordion__item {
      border-bottom: 1px solid#C4C4C4;

      &.accordion__item-active {
          .accordion__item-content {
              display: flex;
              justify-content: flex-start;

              @media (max-width: $breakpoint768) {
                flex-wrap: wrap;
              }
          }

          .line2 {
              transform: translate(0) !important;
              transition: .1s all ease;
          }

          .line1 {
              opacity: 0;
              transition: .1s all ease;

          }
      }


      .accordion__item-trigger {
          display: flex;
          padding: 20px 0;
          align-items: center;
          cursor: pointer;

          @media (max-width: $breakpoint480) {
          }


          .trigger__img {
              position: relative;
              margin-left: auto;

              @media (max-width: $breakpoint480) {
                margin-left: 50px;
              }

              .line1 {
                  display: block;
                  width: 18px;
                  height: 2px;
                  background: black;
                  border-radius: 100px;
              }

              .line2 {
                  display: block;
                  width: 18px;
                  height: 2px;
                  background: black;
                  margin-top: -2px;
                  border-radius: 100px;
                  transform: rotate(90deg);
              }
          }
      }

      .accordion__item-content {
          padding: 10px 0;
          display: none;
          animation: fade .3s ease;

      }


  }

}

.content-item {
  // .content-item__list

  &__list {
    flex: 0 1 25%;

    @media (max-width: $breakpoint768) {
      flex: 0 1 50%;
      margin-bottom: 20px;
    }
  }

  // .content-item__item

  &__item {
   align-self: start;
  }

  // .content-item__text

  &__text {
    padding: 10px;
    min-height: 50px;
    white-space: nowrap;

    &:first-child{
      font-weight: 700;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
      border-bottom: 1px solid #000;
    }

    @media (max-width: $breakpoint768) {
      font-size: 14px;
    }

    @media (max-width: $breakpoint480) {
      white-space: inherit;
      font-size: 12px;
    }
  }
}
