.hero {
  position: relative;
  margin-top: 50px;
  margin-bottom: 100px;
  overflow: hidden;

  @media (max-width: $breakpoint992) {
    margin-top: 40px;
    margin-bottom: 70px;
}

@media (max-width: $breakpoint768) {
    margin-top: 30px;
    margin-bottom: 50px;
}

@media (max-width: $breakpoint480) {
    margin-top: 20px;
    margin-bottom: 20px;
}
}

.hero__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.hero__title {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 48px;
  color: black;
  letter-spacing: 8px;
  margin-bottom: 20px;
  position: relative;
  animation: text 2s 2;

  @media (max-width: $breakpoint992) {
    font-size: 40px;
  }

  @media (max-width: $breakpoint768) {
    font-size: 30px;
    margin-bottom: 10px;
  }

  @media (max-width: $breakpoint480) {
    font-size: 25px;
    letter-spacing: 2px;
    animation: texttwo 2s 2;
  }
}

.hero__subtitle {
  display: block;
  font-size: 45px;
  color: #1976d2;

  @media (max-width: $breakpoint992) {
    font-size: 35px;
  }

  @media (max-width: $breakpoint768) {
    font-size: 25px;
  }

  @media (max-width: $breakpoint480) {
    font-size: 22px;
  }
}

@keyframes text {
  0% {
    color: #1976d2;
    margin-bottom: -100px
  }

  30% {
    letter-spacing: 15px;
    margin-bottom: -100px
  }

  85% {
    letter-spacing: 8px;
    margin-bottom: -100px
  }
}

@keyframes texttwo {
  0% {
    color: #1976d2;
    margin-bottom: -100px
  }

  30% {
    letter-spacing: 8px;
    margin-bottom: -100px
  }

  85% {
    letter-spacing: 2px;
    margin-bottom: -100px
  }
}

.hero__header {
  margin-bottom: 50px;

  @media (max-width: $breakpoint992) {
    margin-bottom: 40px;
}

@media (max-width: $breakpoint768) {
    margin-bottom: 30px;
}

@media (max-width: $breakpoint480) {
    margin-bottom: 20px;
}
}

.hero__middle {
  display: flex;
  justify-content: center;
  margin-top: 50px;

  @media (max-width: $breakpoint992) {
    margin-top: 30px;
  }

  @media (max-width: $breakpoint768) {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.hero__middle-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  column-gap: 50px;
  margin-bottom: 100px;

  @media (max-width: $breakpoint992) {
    column-gap: 30px;
    margin-bottom: 50px;
  }

  @media (max-width: $breakpoint768) {
    flex-direction: column;
    margin-bottom: 20px;
  }

}

.hero__middle-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 0 1 60%;
  padding: 20px;
  width: 100%;
  text-align: left;
  box-shadow: 0 5px 15px rgb(22 28 45 / 10%);
  transform: translateX(-200px);
  opacity: 0;
  transition: all 0.5s ease 0.7s;

  &.active {
    transform: translateX(0);
    opacity: 1;
  }

  @media (max-width: $breakpoint768) {
    margin-bottom: 30px;
  }

  @media (max-width: $breakpoint768) {
    margin-bottom: 15px;
  }
}

.hero__middle-title {
  margin-bottom: 25px;
  font-size: 40px;
  font-weight: 700;

  @media (max-width: $breakpoint992) {
    font-size: 26px;
  }

  @media (max-width: $breakpoint768) {
    font-size: 22px;
    margin-bottom: 10px;
  }
}

.hero__middle-num {
  margin-right: auto;
  margin-bottom: 10px;
  font-size: 35px;

  @media (max-width: $breakpoint992) {
    font-size: 25px;
  }

  @media (max-width: $breakpoint768) {
    font-size: 22px;
  }

  @media (max-width: $breakpoint480) {
    font-size: 20px;
    margin-bottom: 5px;
  }
}

.hero__middle-desc {
  font-size: 22px;
  line-height: 1.5;

  @media (max-width: $breakpoint768) {
    font-size: 18px;
    line-height: 1.2;
  }

  @media (max-width: $breakpoint480) {
    font-size: 18px;
    line-height: 1.1;
  }
}

.hero__middle-anim {
  max-width: 440px;
  width: 100%;
  position: relative;
  box-shadow: 0 5px 15px rgb(22 28 45 / 10%);
  transform: translateX(200px);
  opacity: 0;
  transition: all 0.5s ease 0.7s;

  &.active {
    transform: translateX(0);
    opacity: 1;
  }

  @media (max-width: $breakpoint992) {
    max-width: 300px;
  }

  @media (max-width: $breakpoint768) {
    max-width: none;
  }

}

.hero__middle-logo {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 200px;
    height: 200px;
  }

  svg path {
    fill: black;
    animation: fill 7s infinite 2s none;
  }
}

@keyframes fill {
  0% {
    fill: black;
  }

  50% {
    fill: white;
  }

  100% {
    fill: black;
  }
}

.hero__middle-square {
  width: 440px;
  height: 100%;
  background-color: black;
  animation: square 7s infinite 2s none;

  @media (max-width: $breakpoint992) {
    width: 300px;
  }

  @media (max-width: $breakpoint768) {
      width: 100%;
      height: 300px;
  }
}

@keyframes square {
  0% {
    background-color: white;
  }

  50% {
    background-color: black;
    ;
  }

  100% {
    background-color: white;
    ;
  }
}

.hero__middle-img {
  width: 50%;
  padding: 10px;
  margin-bottom: 50px;
  box-shadow: 0 5px 15px rgb(22 28 45 / 10%);

  img {
    max-width: 100%;
  }
}

.hero__footer-video {
  position: relative;
  width: 100%;
  min-height: 670px;
  box-shadow: 0 5px 15px rgb(22 28 45 / 10%);

  @media (max-width: $breakpoint992) {
    min-height: 489px;
  }

  @media (max-width: $breakpoint768) {
    min-height: 371px;
  }

  @media (max-width: $breakpoint480) {
    min-height: 220px;
  }
}

.hero__footer-title {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
  transform: translateY(300px);
  opacity: 0;
  transition: all 0.5s ease 0.3s;

  &.active {
    transform: translateY(0);
    opacity: 1;
  }

  @media (max-width: $breakpoint992) {
    font-size: 35px;
  }

  @media (max-width: $breakpoint768) {
    font-size: 25px;
    margin-bottom: 10px;
  }

  @media (max-width: $breakpoint480) {
    font-size: 22px;
  }
}

.hero__footer-video-iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(300px);
  opacity: 0;
  transition: all 0.5s ease 0.4s;

  &.active {
    transform: translateY(0);
    opacity: 1;
  }
}