%transition_all_03s {
  transition: all .3s ease;
}

%backface_visibility_hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.progress {

  // .progress__info

  &__info {
    display: flex;
    flex-direction: column;
  }

  // .progress__title

  &__title {
    margin-bottom: 20px;
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    box-shadow: 0 5px 15px rgb(22 28 45 / 10%);

    @media (max-width: $breakpoint992) {
      font-size: 40px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 26px;
      margin-bottom: 10px;
    }

    @media (max-width: $breakpoint480) {
      font-size: 18px;
    }
  }

  // .progress__works

  &__works {
    position: relative;
    display: inline-flex;
    width: fit-content;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 700;

    &::before {
      content: '';
      position: absolute;
       bottom: -5px;
      left: 0;
      height: 3px;
      width: 100%;
      background-color: #1976d2;
    }

    @media (max-width: $breakpoint768) {
      font-size: 22px;
    }

    @media (max-width: $breakpoint480) {
      margin-bottom: 10px;
      font-size: 18px;
    }
  }

  // .progress__desc

  &__desc {
    line-height: 20px;
    span {
      display: block;
    }
    a {
      color: #1976d2;
    }
  }

  // .progress__link-works

  &__link-works {
    display: inline-block;
    margin: 20px 0;
    color: #1976d2;
  }
}



.swiper-container {
   overflow: hidden; 
}

.progress-slider {
  width: 100%;
  margin: 50px 0;
  transition: opacity .6s ease;

  @media (max-width: $breakpoint992) {
    margin: 20px 0;
}

  @media (max-width: $breakpoint480) {
    padding-bottom: 150px;
  }

  @media (max-width: 360px) {
   padding-bottom: 160px;
  }

  &.swiper-container-coverflow {
    padding-top: 2%;
  }

  &.loading {
    opacity: 0;
    visibility: hidden;
  }

  &:hover {

    .swiper-button-prev,
    .swiper-button-next {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }
  }
}


.progress-slide {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: cover;
  padding: 300px;

  @media (max-width: $breakpoint768) {
   padding: 200px;
}

@media (max-width: $breakpoint480) {
  padding: 150px;
}

@media (max-width: 360px) {
  padding: 140px;
}

  .entity-img {
    display: none;
  }

  .progress-slide__content {
    position: absolute;
    top: 40%;
    left: 0;
    width: 50%;
    padding-left: 5%;
    color: #fff;

    @media (max-width: $breakpoint768) {
     width: 100%;
  }

      @media (max-width: $breakpoint480) {
      top: 100%;
    }

    .progress-slide__title {
      margin-bottom: 30px;
      font-size: 2.6em;
      font-weight: bold;

      @media (max-width: $breakpoint768) {
        font-size: 20px;
        margin-bottom: 10px;
    }
    }

    .progress-slide__caption {
      display: block;
      font-size: 16px;
      line-height: 1.4;

      @media (max-width: $breakpoint768) {
        font-size: 12px;
        line-height: 1;
    }
    }
  }
}

[class^="swiper-button-"] {
  width: 44px;
  opacity: 0;
  visibility: hidden;
  @extend %transition_all_03s;
}

.swiper-button-prev {
  transform: translateX(50px);
}

.swiper-button-next {
  transform: translateX(-50px);
}

.swiper-container-horizontal {
  >.swiper-pagination-bullets {
    .swiper-pagination-bullet {
      margin: 0 9px;
      position: relative;
      width: 12px;
      height: 12px;
      background-color: #fff;
      opacity: .4;
      @extend %transition_all_03s;

      &::before {
        progress-slide__content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 18px;
        height: 18px;
        transform: translate(-50%, -50%);
        border: 0px solid #fff;
        border-radius: 50%;
        @extend %transition_all_03s;
      }

      &:hover,
      &.swiper-pagination-bullet-active {
        opacity: 1;
      }

      &.swiper-pagination-bullet-active {
        &::before {
          border-width: 1px;
        }
      }
    }
  }
}

// Mediaqueries
@media(max-width:1180px) {
  .progress-slide {
    .progress-slide__content {
      .progress-slide__title {
        font-size: 25px;
      }

      .progress-slide__caption {
        font-size: 12px;
      }
    }
  }
}

@media(max-width:1023px) {
.swiper-wrapper.progress-slider-wrapper {
    transform-style: flat;
  }
  .progress-slider {
    

    &.swiper-container-coverflow {
      padding-top: 0;
    }
  }
}